#gameCanvas {
    border: 1px solid black;
    width: 70vh;
    height: 70vh;
    margin: auto;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

.black_cell {
    background-color: black;
}

.white_cell {
    background-color: white;
}

.red_cell {
    background-color: red;
}

.green_cell {
    background-color: green;
}
