.speed {
    /* margin: auto; */
    font-size: 2vh;
    text-align: right;
    border: none;
}

.score {
    margin: auto;
    font-size: 5vh;
    text-align: center;
    padding: 1vh;
    color: maroon;
}

.map {
    margin: auto;
    font-size: 2vh;
    text-align: right;
    border: none;
}

#gameCanvas {
    border: 3px solid grey;
    width: 60vh;
    height: 60vh;
    margin: auto;
}

#lose {
    font-size: 4vh;
    text-align: center;
    margin: auto;
    color: white;
}

#title {
    font-size: 5vh;
    text-align: center;
    margin: auto;
    color: black;
}

button {
    outline: none;
    font-size: 2vh;
}

.button {
    padding: 2vh;
}

body {
    background-color: white;
    overflow: hidden;
}

table, tr, td {
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
    background-color: white;
    /* font-size: 4vh; */
    table-layout: fixed;
}

.button {
    text-align: center;
    margin: auto;
}

.black_cell {
    background-color: black;
}

.white_cell {
    background-color: white;
}

.red_cell {
    background-color: red;
}

.green_cell {
    background-color: green;
}

.snake_head {
    background-color: purple;
}

#slider-table {
    margin: auto;
    border: none;
}

#map-slider, #speed-slider {
    margin-left: 2vh;
}

#score-table {
    margin: auto;
    border: none;
}

.no-border{
    border: none;
    vertical-align: middle;
}

svg{
    /* border: 1px solid black; */
    margin-bottom: .5vh;
}

#highscore-icon, #score-icon {
    margin-top: 1vh;
}