.speed {
    margin: auto;
    font-size: 2vh;
    text-align: center;
}

.score {
    margin: auto;
    font-size: 5vh;
    text-align: center;
    padding: 1vh;
    color: maroon;
}

.map {
    margin: auto;
    font-size: 2vh;
    text-align: center;
}

#gameCanvas {
    border: 3px solid black;
    width: 60vh;
    height: 60vh;
    margin: auto;
}

#lose {
    font-size: 4vh;
    text-align: center;
    margin: auto;
    color: white;
}

#title {
    font-size: 5vh;
    text-align: center;
    margin: auto;
    color: black;
}

button {
    outline: none;
    font-size: 2vh;
}

.button {
    padding: 2vh;
}

body {
    background-color: white;
    overflow: hidden;
}

table, tr, td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    background-color: white;
    font-size: 4vh;
    table-layout: fixed;
}

.button {
    text-align: center;
    margin: auto;
}

.black_cell {
    background-color: black;
}

.white_cell {
    background-color: white;
}

.red_cell {
    background-color: red;
}

.green_cell {
    background-color: green;
}
